<!DOCTYPE html>
<html>
  <head>
    <title>Kdepot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <main class="'<%= controller.controller_name %>'">
    <%= yield %>
  </main>
  </body>
</html>
